body {
  background-color: #292121;
  color: rgb(0, 0, 205);
  font-size: 16px;
}
html {
  scroll-behavior: smooth;
}

.wrap {
  width: 100%;
  height: 900px;
  margin-inline: auto;
  background-image: url(../images/common/thumbnail.jpg);
  transform: rotate(20deg);
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  transform: rotate(20deg);

  .item {
    width: 300px;
    height: 300px;
    background-color: #456782;
    border: 1px solid #000;
  }
}
